{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bangers&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Syncopate&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Codystar&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Monoton&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Monoton&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@metamask/detect-provider@1.2.0/dist/detect-provider.min.js"></script>
    <script src="https://cdn.ethers.io/lib/ethers-5.4.umd.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <title>{% block title %}OASIS{% endblock %}</title>
  </head>

  <body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
      <a href="{% url 'main' %}" class="">
        <img src="/static/ico/cwLogo.png" class="navbar-logo" alt="Logo" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a
              href="{% url 'catalog' %}"
              class="nav-link"
              style="color: #ffffff"
              >Game Catalog</a
            >
          </li>
          <li class="nav-item">
            <a
              href=""
              class="nav-link"
              style="color: #ffffff"
              data-toggle="modal"
              data-target="#exampleModal"
              >Game buying guide</a
            >
          </li>
          <li class="nav-item">
            <a href="{% url 'upload' %}" class="nav-link" style="color: #ffffff"
              >Upload Game</a
            >
          </li>
        </ul>
        <div class="dropleft">
          <button class="btn dropdown-toggle" type="button" id="connectButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button">My Library</button>
            <button class="dropdown-item" type="button">Developer Page</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" type="button" id="disconnectButton">Disconnect</button>
          </div>
        </div>
      </div>
    </nav>
    <!-- Header END-->
    <!-- Content -->
    {% block content %}{% endblock %}
    <!-- Content END -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content base-modal-content">
          <div class="modal-header">
            <p class="modal-title base-modal-title" id="exampleModalLabel">
              OASIS
            </p>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Now all transaction in Sepolia testnet only!<br>
            1) In the catalog, select the game you are interested in<br>
            2) Next, connect to your metamask crypto wallet using the button in the upper right corner<br>
            3) To buy the game, click on the buy button, then sign the transaction in the pop-up Metamask window<br>
            4) Wait for the transaction to be validated and added to the blockchain<br>
            5) Enter the transaction address in the appropriate field on the game page and click Check<br>
            6) If everything is done correctly, you will see a success message containing the id of your token with a copy of the game. Congratulations, you have purchased the game through our service!<br>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/web3@1.5.2/dist/web3.min.js"></script>
    <script type="text/javascript" src="{% static 'js/contract_abi.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/interaction_with_metamask.js' %}"></script>
    <script>
      const sendTransactionButton = document.getElementById('sendTransactionButton');
      if(sendTransactionButton){
        sendTransactionButton.addEventListener('click', sendTransaction);
        sendTransactionButton.gameId = '{{game.get_game_id}}';
        sendTransactionButton.gamePrice = '{{ game.get_price_in_wei16 }}';
        sendTransactionButton.devAddress = '{{ game.get_game_developer}}';
      }
        
      // Attach the click event listeners to the buttons
      const connectButton = document.getElementById('connectButton');
      makeConnectButtonColored();
      connectButton.addEventListener('click', connectMetamask);

      const disconnectButton = document.getElementById('disconnectButton');
      disconnectButton.addEventListener('click', clearMetaMaskConnection);


    </script>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
