{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Include Bootstrap CSS and JS files -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bangers&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Syncopate&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Codystar&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Monoton&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Monoton&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <!-- <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/@metamask/detect-provider@1.2.0/dist/detect-provider.min.js"></script>
    <script src="https://cdn.ethers.io/lib/ethers-5.4.umd.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <title>{% block title %}OASIS{% endblock %}</title>
  </head>

  <body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
      <a href="{% url 'main' %}" class="">
        <img src="/static/ico/cwLogo.png" class="navbar-logo" alt="Logo" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a
              href="{% url 'catalog' %}"
              class="nav-link"
              style="color: #ffffff"
              >Game Catalog</a
            >
          </li>
          <li class="nav-item">
            <a
              href=""
              class="nav-link"
              style="color: #ffffff"
              data-toggle="modal"
              data-target="#exampleModal"
              >Game buying guide</a
            >
          </li>
          <li class="nav-item">
            <a href="{% url 'upload' %}" class="nav-link" style="color: #ffffff"
              >Upload Game</a
            >
          </li>
        </ul>
        <button class="btn btn1 btn-outline-light" id="connectButton">
          Metamask
        </button>
        <button class="btn btn1 btn-outline-light" id="disconnectButton">
          Disconnect Metamask
        </button>
      </div>
    </nav>
    <!-- Header END-->
    <!-- Content -->
    {% block content %}{% endblock %}
    <!-- Content END -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content base-modal-content">
          <div class="modal-header">
            <p class="modal-title base-modal-title" id="exampleModalLabel">
              OASIS
            </p>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Now all transaction in Sepolia testnet only!<br>
            1) In the catalog, select the game you are interested in<br>
            2) Next, connect to your metamask crypto wallet using the button in the upper right corner<br>
            3) To buy the game, click on the buy button, then sign the transaction in the pop-up Metamask window<br>
            4) Wait for the transaction to be validated and added to the blockchain<br>
            5) Enter the transaction address in the appropriate field on the game page and click Check<br>
            6) If everything is done correctly, you will see a success message containing the id of your token with a copy of the game. Congratulations, you have purchased the game through our service!<br>
          </div>
        </div>
      </div>
    </div>
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" /> -->
    <!-- <script src="../javaScript/code.js"></script> -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/web3@1.5.2/dist/web3.min.js"></script>
    <script type="text/javascript" src="{% static 'js/contract_abi.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/interaction_with_metamask.js' %}"></script>
    <script>
      const contractAddress = "0x3646ff101beAC4D38F50d37A5C5caaC234cC9A68";
      const web3 = new Web3(
        new Web3.providers.HttpProvider(
          `https://sepolia.infura.io/v3/5c84d02cce30471ea955d1e9f6b3117c`,
        ),
      );
      contract = new web3.eth.Contract(contract_abi, "0x3646ff101beAC4D38F50d37A5C5caaC234cC9A68");
      // console.log(contract.methods.createDeveloperNFT("auedadaya", "0x99bc949975C4bd87D2a6d2a5043112C121EC68D1").encodeABI());
      async function sendTransaction() {
        if (sessionStorage.getItem("isConnected") == "false") {
          console.log('Metamask wallet is not connected');
          return;
        }
        const transaction = {
          from: sessionStorage.selectedAddress,
          to: '{{ game.wallet_address }}',
          value: '{{ game.get_price_in_wei16 }}',
        };

        try {
          const transactionHash = await ethereum.request({
            method: 'eth_sendTransaction',
            params: [transaction],
          });
          console.log('Transaction sent:', transactionHash);
        } catch (error) {
          console.error('Error sending transaction:', error);
        }
      }

      async function yourMethod () {
        if(window.ethereum.request({method: 'eth_requestAccounts'})){
          console.log("aue")
          const transaction = {
            from: sessionStorage.selectedAddress,
            to: '{{ game.wallet_address }}',
            value: '{{ game.get_price_in_wei16 }}',
            data: contract.methods.gameId().encodeABI(),
          };
          // const address = "0x99bc949975C4bd87D2a6d2a5043112C121EC68D1";
          // console.log("signer address = ", address);

          try { 
            const transactionHash = await ethereum.request({
              method: 'eth_sendTransaction',
              params: [transaction],
            });
            console.log('Transaction sent:', transactionHash);
          } catch (error) {
            console.error('Error sending transaction:', error);
          }
            console.log("aue1");
            // do something with your transaction hash here
            // console.log({txHash});
            console.log("aue2");
        }else{
          console.log('user must connect wallet');
        }
      }
      async function foo1(){
        async function loadWeb3() {
          if (window.ethereum) {
            window.web3 = new Web3(window.ethereum);
            window.ethereum.enable();
          }
        }
        async function loadContract() {
          let abi = contract_abi;// your abi here
          let address = "0xdef5841caAdEAEe5dF7FEb929bEE3BE27069A297";  // your contract address here
          return await new window.web3.eth.Contract(abi, address);
        }
        async function getCurrentAccount() {
          const accounts = await ethereum.request({ method: 'eth_requestAccounts' });
          console.log("account info = ", accounts[0]);
          return accounts[0];
        }

        async function run() {
          await loadWeb3();
          window.contract = await loadContract();
          const customer_account = await getCurrentAccount();
          PRIVATE_KEY = "750bb8368c19376f2ddb57f78a4a810bc73789f7845a9f52a7651a444fd8fb84";
          // const dgds_developer_account = web3.eth.accounts.privateKeyToAccount("0x" + YOUR_PRIVATE_KEY);
          const dgds_developer_account = web3.eth.accounts.privateKeyToAccount(PRIVATE_KEY);
          console.log('dgds address:', dgds_developer_account.address);
          // console.log("mm address = ", customer_account);
          // await web3.eth.personal.unlockAccount(account.address, YOUR_PASSWORD);
          price = 0;
          gameId = 105;
          devAddress = "0x99bc949975C4bd87D2a6d2a5043112C121EC68D1";
          custAddress = "0xF22cFb17fA3247eCF089024302b7b090AcD5c3CE";
          console.log("price = ", '{{ game.get_price_in_wei }}');
          let res = await window.contract.methods.payAndCreateCustomerNFT(devAddress, custAddress, price, gameId)
               .send({ from: dgds_developer_account.address,
                      value: '{{ game.get_price_in_wei16 }}',});
          console.log("res = ", res);
          // let result = await window.contract.methods.createDeveloperNFT("abobaaue2", "0x99bc949975C4bd87D2a6d2a5043112C121EC68D1")
          //   .send({ from: account,
          //           to: '{{ game.wallet_address }}',
          //           value: '{{ game.get_price_in_wei16 }}',});
        }
        // from: sessionStorage.selectedAddress,
        // to: '{{ game.wallet_address }}',
        // value: '{{ game.get_price_in_wei16 }}',
        // data: contract.methods.gameId().encodeABI(),
        if (typeof window.ethereum !== 'undefined') {
          console.log("fwfwe");
          run();
        }
      }
      // foo1();
      // const yourMethod = () => {
      //   if(window.ethereum.request({method: 'eth_requestAccounts'})){
      //     console.log("aue")
      //     const provider = new ethers.providers.Web3Provider(window.ethereum);
      //     const signer = provider.getSigner();
      //     const address = signer.getAddress();
      //     // const address = "0x99bc949975C4bd87D2a6d2a5043112C121EC68D1";
      //     console.log("signer address = ", address);
      //     const tx = {
      //     from: address,
      //     to: contractAddress,
      //     value: '{{ game.get_price_in_wei16 }}', // this is the value in wei to send
      //     data: contract.methods.createDeveloperNFT("auedadaya", "0x99bc949975C4bd87D2a6d2a5043112C121EC68D1").encodeABI()
      //     }

      //     const txHash = window.ethereum.request({
      //     method: 'eth_sendTransaction',
      //     params: [tx]
      //     });
      //     console.log("aue1");
      //     // do something with your transaction hash here
      //     console.log({txHash});
      //     console.log("aue2");
      //   }else{
      //     console.log('user must connect wallet');
      //   }
      // }
      const sendTransactionButton = document.getElementById('sendTransactionButton');
      if(sendTransactionButton){
        sendTransactionButton.addEventListener('click', foo1);
      }
    </script>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
